Repository musaibasrar/Curium, pull requests merged in 2024-08, with the labels that each got.

#506 Creating YearApiAction and YearApiActionImpl
  src/main/java/org/ideoholic/curium/model/academicyear/action/YearApiAction.java
  src/main/java/org/ideoholic/curium/model/academicyear/action/YearApiActionImpl.java
Labels: java

#505 Creating MessItemsApiAction and MessItemsApiActionImpl.
  src/main/java/org/ideoholic/curium/model/mess/item/action/MessItemActionAdapter.java
  src/main/java/org/ideoholic/curium/model/mess/item/action/MessItemsApiAction.java
  src/main/java/org/ideoholic/curium/model/mess/item/action/MessItemsApiActionImpl.java
  src/main/java/org/ideoholic/curium/model/mess/item/dto/PurchaseCancelDto.java
  src/main/java/org/ideoholic/curium/model/mess/item/dto/PurchaseDto.java
  src/main/java/org/ideoholic/curium/model/mess/item/service/MessItemsService.java
Labels: java

#508 Creating MessStockMoveApiAction and MessStockMoveApiActionImpl.
  src/main/java/org/ideoholic/curium/model/mess/stockmove/action/MessStockMoveActionAdapter.java
  src/main/java/org/ideoholic/curium/model/mess/stockmove/action/MessStockMoveApiAction.java
  src/main/java/org/ideoholic/curium/model/mess/stockmove/action/MessStockMoveApiActionImpl.java
  src/main/java/org/ideoholic/curium/model/mess/stockmove/dto/StockMoveCancelDto.java
  src/main/java/org/ideoholic/curium/model/mess/stockmove/dto/StockMoveDto.java
  src/main/java/org/ideoholic/curium/model/mess/stockmove/dto/StockMoveOldDto.java
  src/main/java/org/ideoholic/curium/model/mess/stockmove/dto/StockMoveSaveDto.java
  src/main/java/org/ideoholic/curium/model/mess/stockmove/service/MessStockMoveService.java
Labels: java

#512 Creating MessStockEntryApiAction and MessStockEntryApiActionImpl.
  src/main/java/org/ideoholic/curium/model/mess/item/service/MessItemsService.java
  src/main/java/org/ideoholic/curium/model/mess/stockentry/action/MessStockEntryActionAdapter.java
  src/main/java/org/ideoholic/curium/model/mess/stockentry/action/MessStockEntryApiAction.java
  src/main/java/org/ideoholic/curium/model/mess/stockentry/action/MessStockEntryApiActionImpl.java
  src/main/java/org/ideoholic/curium/model/mess/stockentry/service/MessStockEntryService.java
Labels: java

#510 Migrated SubjectDetails readListOfSubjects using Adapter
  src/main/java/org/ideoholic/curium/model/examdetails/action/ExamDetailsAction.java
  src/main/java/org/ideoholic/curium/model/periods/action/PeriodAction.java
  src/main/java/org/ideoholic/curium/model/periods/service/PeriodService.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/dto/SubjectsResponseDto.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/service/SubjectDetailsService.java
Labels: enhancement

#516 Migrating FeesCollectionAction getFeesReport and undoFeesReceipt using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeeCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/FeesReportDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#520 Migrating FeesCollectionAction viewCancelledReceipts using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeeCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/CancelledReceiptsDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/CancelledReceiptsResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#517 Migrated SubjectDetails addSubject using Adapter
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/dto/SubjectDto.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/service/SubjectDetailsService.java
  src/main/resources/hibernate.cfg.xml
Labels: enhancement

#524 Migrated SubjectDetails deleteMuiltiple using Adapter
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/dto/SubjectIdsDto.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/service/SubjectDetailsService.java
Labels: enhancement

#526 Migrating FeesCollectionAction getStampFees and getFeesDetails using adapter.
  src/main/java/org/ideoholic/curium/model/documents/action/DocumentAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/FeesDetailsResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/FeesReportDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/StampFeeResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/StampFeesDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
  src/main/java/org/ideoholic/curium/model/student/action/StudentAction.java
Labels: java

#530 Migrating FeesCollectionAction previewFeesDetails and previewDetails using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/DetailsResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#533 Migrating FeesCollectionAction getotherStampFees and getotherFeesDetails using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/FeesDetailsResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/StampFeeResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#528 Migrated SubjectDetails addSubjectMaster using Adapter
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/dto/SubjectDto.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/service/SubjectDetailsService.java
Labels: enhancement

#540 Migrated SubjectDetails deleteMultipleSubjects using Adapter
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/service/SubjectDetailsService.java
Labels: enhancement

#544 Migrating FeesCollectionAction previewOtherFeesDetails and cancelOtherFeesReceipt using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#548 Migrated SubjectDetails readListOfSubjectNames using Adapter
  src/main/java/org/ideoholic/curium/model/examdetails/action/ExamDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/service/SubjectDetailsService.java
  src/main/java/org/ideoholic/curium/model/teachersperformance/action/TeachersPerformanceAction.java
Labels: enhancement

#546 Migrating FeesCollectionAction getFeesDetailsDashBoard using adapter.
  src/main/java/org/ideoholic/curium/model/employee/service/EmployeeService.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/FeesDashboardResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
  src/main/java/org/ideoholic/curium/model/std/dto/ClassesHierarchyDto.java
  src/main/java/org/ideoholic/curium/model/user/action/UserAction.java
  src/main/java/org/ideoholic/curium/model/user/service/UserService.java
Labels: java

#552 Migrating FeesCollectionAction getDefaultersReport and getFeesReportDue using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#555 Migrating FeesCollectionAction getFeesStampDueReport and printOtherDataForFees using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/CancelledReceiptsDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/CancelledReceiptsResponseDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#557 Migrating FeesCollectionAction viewCancelledOtherFeesReceipts using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
  src/main/resources/application.properties
Labels: enhancement, java

#553 Updated SubjectDetailsApiAction and SubjectDetailsApiActionImpl
  src/main/java/org/ideoholic/curium/model/mess/item/action/MessItemsApiActionImpl.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsApiAction.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/action/SubjectDetailsApiActionImpl.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/dto/SubjectsExamsResponseDto.java
  src/main/java/org/ideoholic/curium/model/subjectdetails/service/SubjectDetailsService.java
Labels: enhancement

#561 Migrating FeesCollectionAction printFeesDueHeadWiseReport, exportDataForStudentsOtherFeesReport and downlaod using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/StudentFeesDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#565 Migrating FeesCollectionAction cancelFeesReceipt and exportDataForStudentsFeesReport using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#568 Migrating FeesCollectionAction add and preview using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/AddFeesCollectionDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#566 Migrated HR leaveType using Adapter
  src/main/java/org/ideoholic/curium/model/hr/action/HrAction.java
  src/main/java/org/ideoholic/curium/model/hr/action/HrActionAdapter.java
  src/main/java/org/ideoholic/curium/model/hr/dto/LeaveTypeResponseDto.java
  src/main/java/org/ideoholic/curium/model/hr/service/HrService.java
Labels: enhancement

#571 Migrating FeesCollectionAction addother and otherpreview using adapter.
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionAction.java
  src/main/java/org/ideoholic/curium/model/feescollection/action/FeesCollectionActionAdapter.java
  src/main/java/org/ideoholic/curium/model/feescollection/dto/AddFeesCollectionDto.java
  src/main/java/org/ideoholic/curium/model/feescollection/service/FeesCollectionService.java
Labels: java

#573 Migrated HR saveLeaveType using Adapter.
  src/main/java/org/ideoholic/curium/model/hr/action/HrAction.java
  src/main/java/org/ideoholic/curium/model/hr/action/HrActionAdapter.java
  src/main/java/org/ideoholic/curium/model/hr/dto/LeaveTypeDto.java
  src/main/java/org/ideoholic/curium/model/hr/service/HrService.java
Labels: enhancement

#577 Migrated HR deleteLeaveType using Adapter.
  src/main/java/org/ideoholic/curium/model/hr/action/HrAction.java
  src/main/java/org/ideoholic/curium/model/hr/action/HrActionAdapter.java
  src/main/java/org/ideoholic/curium/model/hr/dto/LeaveTypeDto.java
  src/main/java/org/ideoholic/curium/model/hr/service/HrService.java
Labels: enhancement

#575 Migrating MarksDetailsAction getStudentGraph, getStudentList and Search using adapter.
  src/main/java/org/ideoholic/curium/model/documents/dto/SearchStudentResponseDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsAction.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/SearchStudentExamDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/StudentGraphResponseDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/service/MarksDetailsService.java
  src/main/java/org/ideoholic/curium/model/student/dto/StudentIdsDto.java
Labels: java

#580 Migrating MarksDetailsAction generateReport, generateReportParent and deleteMultiple using adapter.
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsAction.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/GenerateReportDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/GenerateReportResponseDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/service/MarksDetailsService.java
Labels: java

#584 Migrating MarksDetailsAction updateMarks, getSubjectExams and viewMarks using adapter.
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsAction.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/MarksResponseDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/MarksUpdateDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/MarksViewDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/service/MarksDetailsService.java
Labels: java

#586 Migrating MarksDetailsAction downloadReportCard, addMarks, rankSearch and generateRankReport using adapter.
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsAction.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/marksdetails/service/MarksDetailsService.java
Labels: java

#581 Migrated HR addLeaves using Adapter.
  src/main/java/org/ideoholic/curium/model/hr/action/HrAction.java
  src/main/java/org/ideoholic/curium/model/hr/action/HrActionAdapter.java
  src/main/java/org/ideoholic/curium/model/hr/dto/LeaveTypeDto.java
  src/main/java/org/ideoholic/curium/model/hr/service/HrService.java
Labels: enhancement

#590 Creating MarksDetailsApiActionImpl and MarksDetailsApiAction.
  src/main/java/org/ideoholic/curium/exceptions/CustomErrorMessage.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsAction.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsActionAdapter.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsApiAction.java
  src/main/java/org/ideoholic/curium/model/marksdetails/action/MarksDetailsApiActionImpl.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/GraphicalReportDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/MarksDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/ReportDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/dto/SubjectsExamsDto.java
  src/main/java/org/ideoholic/curium/model/marksdetails/service/MarksDetailsService.java
Labels: java
